/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 10px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.mid{
  text-align: center;
  vertical-align: middle !important;
}
.bigrow{
	font-size: 16px;
	font-weight: bold;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	}

/* Customize container */
@media (min-width: 1280px) {
  .container {
    max-width: 1260px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}